@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(27, 27, 30);
  font-family: "Roboto Mono", monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

header {
  text-align: center;
  color: rgb(183, 183, 184);
  font-family: "Roboto Mono", monospace;
  margin-bottom: 20px;
  padding: 10px;
}

header > h1 {
  font-family: "Roboto Mono", monospace;
  font-size: 45px;
  color: #fff;
  margin-bottom: 10px;
}

.container {
  display: flex;
  width: 90vw;
}

.slide1 {
  background-image: url("https://images.unsplash.com/photo-1585601953943-b239af489523?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
}

.slide2 {
  background-image: url("https://images.unsplash.com/photo-1504281186-f427c16ed131?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
}
.slide3 {
  background-image: url("https://images.unsplash.com/photo-1485881787686-9314a2bc8f9b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1198&q=80");
}
.slide4 {
  background-image: url("https://images.unsplash.com/photo-1521167155078-482f52200aa3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
}
.slide5 {
  background-image: url("https://images.unsplash.com/photo-1604212399401-5fd807a65e18?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel h3 {
  font-family: "Roboto Mono", monospace;
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 380px) {
  .container {
    width: 70vw;
  }

  .panel:nth-last-of-type(4),
  .panel:nth-last-of-type(5) {
    display: none;
  }
}
